.left-panel
  width 250px
  min-height 100vh
  background #323232
  border 1px solid #4c4c4c
  .panel-items
    height 50px
    color white
    text-align center
    font-size 15px
    font-family Arial, sans-serif
    border-bottom 1px solid #4c4c4c
    padding-top 10px
    text-transform uppercase
    &.active
      background gray
    .span
      padding-top 10px
      display inline-block
      text-transform uppercase
  :hover
    cursor pointer
    background #000
.add-user
  padding 50px 100px
