.user
  display flex
  flex-direction column
  align-items center
  .user-detail
    display flex
    flex-direction row
    min-height 500px
    min-width 600px
    background #d47d67
    padding 20px
    margin 20px
    .user-form
      width 100%
    .icon
      font-size 100px
      padding 100px 30px
      color cornsilk
