.user-container
  display flex
  flex-direction row
  flex-wrap wrap
  padding 20px
  .user-box
    display flex
    justify-content space-between
    min-width 200px
    min-height 200px
    flex-direction column
    background #fff3f3
    padding 20px
    margin 20px
    .edit-icon
      width 30px
      font-size 25px
      cursor pointer
      align-self flex-end
    .icon
      text-align center
      font-size 50px
    .delete
      width 30px
      cursor pointer
      align-self flex-end
      .fa
        font-size 30px
        color darkred
