<div class="nav-tier-1">
  <ul>
    <li><a>Home</a></li>
    <li><a>Orders</a></li>
    <li><a>Inventory</a></li>
    <span class="company-name">
      All State Appliance
    </span>
  </ul>

</div>
{{outlet}}
